<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newbig.im.dal.mapper.SysOrgMapper">
  <resultMap id="BaseResultMap" type="com.newbig.im.dal.model.SysOrg">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="ancesstor_id" jdbcType="INTEGER" property="ancesstorId" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="parent_ids" jdbcType="LONGVARCHAR" property="parentIds" />
  </resultMap>
</mapper>